<<<<<<< HEAD
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.hide-breadcrumb .breadcrumb {
    display: none;
  }
.breadcrumb-item {
    color: #000000;
}

.breadcrumb-item a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

.breadcrumb-item a:hover {
    color: #000000;
}

.breadcrumb-item:not(:last-child)::after {
    margin: 0 5px;
    color: #555;
}

/* Style the current page (last item) */
.breadcrumb-item:last-child {
    color: #2a802f; /* Green for the current page */
}

.breadcrumb-item:last-child a {
    color: #2a802f; /* Green for the current page */
    pointer-events: none; /* Disable link interaction for the current page */
    text-decoration: none; /* Ensure no underline */
}
=======
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}
.hide-breadcrumb .breadcrumb {
    display: none;
  }
.breadcrumb-item {
    color: #000000;
}

.breadcrumb-item a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

.breadcrumb-item a:hover {
    color: #000000;
}

.breadcrumb-item:not(:last-child)::after {
    margin: 0 5px;
    color: #555;
}

/* Style the current page (last item) */
.breadcrumb-item:last-child {
    color: #2a802f; /* Green for the current page */
}

.breadcrumb-item:last-child a {
    color: #2a802f; /* Green for the current page */
    pointer-events: none; /* Disable link interaction for the current page */
    text-decoration: none; /* Ensure no underline */
}
>>>>>>> a3f765335766a01627d14b387ebc3eff98292240
