/* Main Content Styles */
.main-content {
    margin-left: 240px; /* Adjust for the sidebar width */
    padding: 20px;
  }
  
  .header {
    background-color: #e6f4eb; /* Light green background */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #349256;
    font-size: 1.5rem;
    text-align: center;
  }


  
